* {
  margin: 0;
  padding: 0;
  font-family: "font";
}

@font-face {
  font-family: "font";
  src: url(../../../../public/font/OpenSans-VariableFont_wdth\,wght.ttf);
}
.header {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0%;
  transition: 0.5s;
}

.info-contact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1vh 4vw;
}

.left-info {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.left-info > div {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7019607843);
  font-weight: 700;
}

.left-info > div > svg {
  color: #cda45e;
}

.head {
  display: flex;
  align-items: center;
  padding: 3vh 4vw;
  background-color: rgba(12, 11, 9, 0.862745098);
  justify-content: space-between;
  z-index: 999;
}

.head > a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

nav {
  display: flex;
  align-items: center;
  gap: 2vw;
}

nav > a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  transition: 0.3s;
}

nav > a:focus {
  color: #cda45e;
}

.head > button {
  padding: 1vh 2vw;
  background-color: transparent;
  border: 2px solid #cda45e;
  color: rgba(255, 255, 255, 0.7019607843);
  cursor: pointer;
  border-radius: 50px;
  transition: 0.3s;
}

.head > button:hover {
  background-color: #cda45e;
}

#menu {
  color: white;
  cursor: pointer;
  display: none;
}

#close {
  display: none;
}

@media (max-width: 480px) {
  .right-info {
    display: none;
  }
  .info-contact {
    justify-content: center;
  }
  #menu {
    display: block;
  }
  nav {
    position: fixed;
    flex-direction: column;
    background-color: #29261f;
    width: 80vw;
    height: 100vh;
    top: 7%;
    gap: 3vw;
    transition: 0.5;
    color: #0c0b09 !important;
    align-items: start;
    padding: 5vw;
    border-radius: 5px;
    display: none;
    z-index: 999;
  }
  #close {
    display: block;
    position: fixed;
    top: 4%;
    right: 5%;
    color: white;
    cursor: pointer;
  }
}
body {
  background-color: rgba(12, 11, 9, 0.862745098);
}

.hero-section > img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  margin-top: -40vh;
}

.hero-section {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(12, 11, 9, 0.4588235294);
}

.left-hero {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  width: 50%;
  padding: 0vw 0vw 10vw 10vw;
}

.left-hero > h1 {
  font-size: 48px;
  font-weight: 700;
}

.left-hero > h1 > span {
  color: #cda45e;
}

.left-hero > h4 {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7333333333);
  font-weight: 500;
}

.left-hero > div {
  display: flex;
  align-items: center;
  gap: 1vw;
  padding-left: 3vw;
}

.left-hero > div > button {
  background-color: transparent;
  border: 2px #cda45e solid;
  border-radius: 50px;
  color: #fff;
  padding: 1vh 2vw;
  cursor: pointer;
  font-weight: 600;
}

.left-hero > div > button:hover {
  background-color: #cda45e;
}

.right-hero {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10vw;
}

.right-hero > svg {
  background-color: #cda45e;
  width: 2vw;
  height: 2vw;
  padding: 1vw;
  border-radius: 50%;
  border: 10px solid rgba(247, 241, 231, 0.3411764706);
  cursor: pointer;
}

@media (max-width: 480px) {
  .hero-section {
    flex-direction: column;
  }
  .left-hero {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 5vw;
    margin-top: -100vw;
    text-align: center;
  }
  .left-hero > div {
    gap: 2vw !important;
    padding: 4vh 1vw;
  }
  .left-hero > div > button {
    padding: 1vh 3vw;
  }
  .right-hero {
    width: 100%;
    margin: 0;
  }
  .right-hero > svg {
    width: 4vw;
    height: 4vw;
    padding: 2vw;
  }
}
.about {
  background-image: url(../../../../public/images/about-bg.webp);
  background-size: cover;
}

.about > div {
  background-color: rgba(12, 11, 9, 0.7058823529);
  display: flex;
  align-items: start;
  padding: 3vw;
}

.left-about {
  color: #fff;
  width: 50%;
  padding: 2vh 4vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.left-about > h2 {
  font-size: 1.75rem;
  font-weight: 700;
}

.italic {
  font-style: italic;
  color: #70706e;
}

.left-about > ul {
  list-style: none;
}

.left-about > ul > li {
  display: flex;
  align-items: center;
  gap: 5px;
  color: rgba(255, 255, 255, 0.7019607843);
}

.left-about > ul > li > svg {
  color: #cda45e;
  width: 20px;
  height: 20px;
}

.right-about {
  width: 50%;
}

.right-about > img {
  width: 70%;
  border: 8px solid rgba(255, 255, 255, 0.2);
}

@media (max-width: 480px) {
  .about > div {
    flex-direction: column-reverse;
  }
  .left-about {
    width: 100%;
  }
  .right-about {
    width: 100%;
  }
  .right-about > img {
    width: 95%;
  }
}
@font-face {
  font-family: font;
  src: url(../../../../public/font/OpenSans-VariableFont_wdth\,wght.ttf);
}
* {
  font-family: '"font"';
}

.choose-us {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  padding: 4vh 4vw;
  background-color: rgba(12, 11, 9, 0.862745098);
}

.section-title > h2 {
  color: rgba(255, 255, 255, 0.6901960784);
  font-size: 14px;
  font-weight: 500;
  line-height: 1px;
  position: relative;
}

.section-title > h2::after {
  content: "";
  width: 120px;
  height: 1px;
  background-color: #cda45e;
  margin: 4px 10px;
  display: inline-block;
}

.section-title > p {
  color: #cda45e;
  font-size: 36px;
  font-weight: 600;
}

.boxes-choose {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.boxes-choose > div {
  background-color: #1E1D1B;
  padding: 50px 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.boxes-choose > div > span {
  color: #cda45e;
  font-size: 28px;
  font-weight: 700;
}

.boxes-choose > div > h4 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.boxes-choose > div > p {
  font-size: 15px;
  color: #70706e;
}

@media (max-width: 480px) {
  .boxes-choose {
    flex-direction: column;
  }
}
.menu {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  padding: 4vh 4vw;
}

.tabs-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.tabs-menu > button {
  color: #fff;
  background: none;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.tabs-menu > button:focus {
  color: #cda45e;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1vw;
  justify-content: center;
  min-height: 30vh;
}

.plats {
  display: flex;
  width: calc(50% - 1vw);
  gap: 10px;
  flex-wrap: wrap;
}

.plats > img {
  width: 4vw;
  border-radius: 50%;
  border: 5px solid rgba(255, 255, 255, 0.2823529412);
}

.plats > div {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.info-plat {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.info-plat > h4 {
  color: #fff;
  background-color: rgba(12, 11, 9, 0.862745098);
  padding-right: 10px;
  z-index: 3;
}

.info-plat > span {
  color: #cda45e;
  padding: 0 10px;
  font-weight: 600;
  background-color: rgba(12, 11, 9, 0.862745098);
  z-index: 3;
}

.info-plat::after {
  content: "................................................................................................................................";
  position: absolute;
  left: 20px;
  right: 0;
  top: -4px;
  z-index: 1;
  color: rgba(255, 255, 255, 0.7019607843);
}

.plats > div > p {
  font-style: italic;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7019607843);
}

@media (max-width: 480px) {
  .tabs-menu {
    padding-top: 3vh;
  }
  .plats {
    width: 100%;
    gap: 2vw;
  }
  .menu-list {
    gap: 5vw;
    padding: 4vh 0;
  }
  .plats > img {
    width: 8vw;
  }
  .info-plat::after {
    content: "......................................................................";
  }
}
.specials {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  padding: 4vh 4vw;
  background-color: rgba(12, 11, 9, 0.862745098);
}

.info-special {
  display: flex;
  gap: 2vw;
  justify-content: center;
}

.left-specials {
  display: flex;
  flex-direction: column;
  width: 25%;
  border-right: 1px solid #cda45e;
  height: min-content;
}

.left-specials > a {
  text-decoration: none;
  color: #fff;
  padding: 1vh;
  font-weight: 600;
}

.left-specials > a:focus, .left-specials > :active {
  color: black;
  background-color: #cda45e;
  border-right: 1px solid #fff;
}

.right-specials {
  width: 70%;
}

.tab {
  display: none;
  gap: 1vw;
}

#tab1 {
  display: flex;
}

.tab > img {
  width: 30%;
}

.details {
  color: #fff;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.details > h3 {
  font-size: 26px;
  font-weight: 600;
}

.italic {
  font-family: sans-serif;
  font-style: italic;
  color: rgba(255, 255, 255, 0.7019607843);
}

.details > p:last-child {
  color: rgba(255, 255, 255, 0.7019607843);
  font-family: sans-serif;
}

.tab {
  display: none;
}

@media (max-width: 480px) {
  .info-special {
    flex-direction: column;
  }
  .left-specials {
    width: 100%;
    border: none;
  }
  .right-specials {
    width: 100%;
  }
  .tab {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .tab > img {
    width: 100%;
  }
  .details {
    width: 100%;
  }
}
.carousel-container {
  background-image: url("../../../../public/images/events-bg.jpg");
  background-size: cover;
  width: 100%;
  height: 70vh;
  background-position: center;
}

.carousel {
  background-color: rgba(0, 0, 0, 0.788);
  display: flex;
  width: 100%;
  height: 100%;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  color: white;
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  padding: 2vh 2vw;
}

.slide > img {
  width: 45%;
}

.slide > div {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.slide > div > h3 {
  font-weight: 700;
  font-size: 30px;
}

.slide > div > span {
  font-size: 26px;
  font-weight: 700;
  border-bottom: 2px #cda45e solid;
  width: min-content;
}

.slide > div > p {
  font-style: italic;
  width: 80%;
  color: rgba(255, 255, 255, 0.7019607843);
}

.slide > div > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
}

.slide > div > p:last-child {
  font-style: normal;
}

.reservation {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  padding: 4vh 4vw;
}

.reservation > form {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  justify-content: center;
  padding: 2vw;
}

.reservation > form > div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1vw;
}

.reservation > form > div > input {
  width: 28%;
  background-color: transparent;
  padding: 1vh 1vw;
  border: 1px solid rgba(255, 255, 255, 0.7019607843);
  color: #fff;
  font-size: 18px;
}

.reservation > form > textarea {
  width: 100%;
  background-color: transparent;
  padding: 1vh 1vw;
}

.reservation > form > button {
  background-color: transparent;
  margin: auto;
  padding: 1vh 2vw;
  color: #fff;
  border: 2px solid #cda45e;
  border-radius: 50px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .reservation > form > div > input {
    width: 100%;
  }
}
.gallery {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  padding: 4vh 4vw;
}

.gallery-img {
  display: flex;
  flex-wrap: wrap;
}

.gallery-img > img {
  width: 25%;
  transition: ease-in-out 1ms;
}

.gallery-img > img:hover {
  transform: scale(1.1);
}

@media (max-width: 480px) {
  .gallery-img > img {
    width: 100%;
  }
}
.chefs-section {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  padding: 4vh 4vw;
}

.chefs {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  flex-wrap: wrap;
}

.chefs > div {
  width: 30%;
  position: relative;
}

.chefs > div > img {
  width: 100%;
  transition: transform 0.4s ease;
}

.social-chef {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  text-align: center;
  transform: translateY(100%);
  transition: transform 0.4s ease;
  display: none;
}

.chefs > div:hover img {
  transform: scale(1.05);
}

.chefs > div:hover .social-chef {
  transform: translateY(0);
  display: block;
}

.social-chef h4 {
  margin: 0;
  font-size: 1.2rem;
}

.social-chef span {
  display: block;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #ccc;
}

.social-chef svg {
  margin: 0 5px;
  fill: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.social-chef svg:hover {
  transform: scale(1.2);
  fill: #cda45e;
}

@media (max-width: 480px) {
  .chefs > div {
    width: 100%;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  padding: 4vh 4vw;
}

iframe {
  width: 100%;
}

.contact-info {
  display: flex;
  gap: 3vw;
  padding-inline: 3vw;
}

.contact-info > div {
  display: flex;
  flex-direction: column;
  gap: 3vw;
  width: 30%;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.info-item > svg {
  background-color: #cda45e;
  color: black;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 10px;
}

.info-item > div > h3 {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}

.info-item > div > p {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7019607843);
}

.contact-info > form {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.contact-info > form > div {
  display: flex;
  align-items: center;
  gap: 1vw;
}

.contact-info > form > div > input {
  width: 50%;
  background-color: transparent;
  padding: 1vh 2vw;
  border: 1px #cda45e solid;
  border-radius: 5px;
}

.contact-info > form > input {
  background-color: transparent;
  padding: 1vh 2vw;
  border: 1px #cda45e solid;
  border-radius: 5px;
}

.contact-info > form > textarea {
  background-color: transparent;
  padding: 1vh 2vw;
  border: 1px #cda45e solid;
  border-radius: 5px;
}

.contact-info > form > button {
  margin: auto;
  padding: 1vh 2vw;
  background-color: transparent;
  color: #fff;
  border: 2px solid #cda45e;
  border-radius: 50px;
  cursor: pointer;
}

@media (max-width: 480px) {
  .contact-info {
    flex-direction: column;
  }
  .contact-info > form {
    width: 100%;
  }
  .contact-info > div {
    width: 100%;
  }
}
footer {
  background-color: black;
  padding: 2vh 3vw;
}

.top-footer {
  display: flex;
  align-items: start;
  gap: 2vw;
  border-bottom: 0.5px rgba(255, 255, 255, 0.7019607843) solid;
  padding-bottom: 1vw;
}

.top-footer > div {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  color: rgba(255, 255, 255, 0.7019607843);
  width: 33%;
}

.top-footer > div > a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  color: white;
}

.socials-icons {
  display: flex;
  align-items: center;
  gap: 2vw;
  padding: 2vh;
}

.socials-icons > svg {
  display: flex;
  align-items: center;
  justify-content: center;
  border: white 1px solid;
  padding: 8px;
  border-radius: 50%;
}

.links {
  width: 16%;
}

.links > h3 {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.links > a {
  font-size: 12px !important;
  font-weight: 500 !important;
  color: rgba(255, 255, 255, 0.7019607843) !important;
}

.links > div {
  display: flex;
  align-items: center;
}

.links > div > input {
  background-color: transparent;
  padding: 1vh 2vw;
  border: 2px #cda45e solid;
  border-radius: 50px 0 0 50px;
}

.links > div > button {
  padding: 1vh 1vw;
  background-color: #cda45e;
  border: 2px solid #cda45e;
  border-radius: 0 50px 50px 0;
  color: white;
  font-weight: 600;
}

.bottom-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.7019607843);
  text-align: center;
  padding: 2vh;
}

@media (max-width: 480px) {
  .top-footer {
    flex-direction: column;
    gap: 2vw;
  }
  .links {
    width: 100%;
  }
  .top-footer > div {
    width: 100%;
  }
}