.modal {
    display: none;
    position: fixed;
    z-index: 100;
    overflow: auto;
    width: 25vw;
    height: fit-content;
    background-image: linear-gradient($accent, #000000);
    right: 50%;
    left: 50%;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    padding: 20px;
}

.modal-open::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99; 
}


.modal>form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.modal>form>div {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.modal>form>div>input {
    width: 50%;
    background-color: transparent;
    padding: 1vh 2vw;
    border: 1px $accent solid;
    border-radius: 5px;
}

.modal>form>input {
    background-color: transparent;
    padding: 1vh 2vw;
    border: 1px $accent solid;
    border-radius: 5px;
}

.modal>form>textarea {
    background-color: transparent;
    padding: 1vh 2vw;
    border: 1px $accent solid;
    border-radius: 5px;
}

.modal>form> button{
    margin: auto;
    padding: 1vh 2vw;
    background-color: transparent;
    color: #fff;
    border: 2px solid $accent;
    border-radius: 50px;
    cursor: pointer;
}

.close {
    color: #EDF2F4;
    font-weight: bold;
    float: right;
    display: flex;
    border-radius: 5px;
}

@media (max-width : 480px) {
    .modal{
        width: 90vw;
    }
}