@font-face {
    font-family: font;
    src: url(../../../../public/font/OpenSans-VariableFont_wdth\,wght.ttf);
}
*{
    font-family: '"font"';
}
.choose-us {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    padding: 4vh 4vw;
    background-color: $bg-color;
}

.section-title>h2 {
    color: #ffffffb0;
    font-size: 14px;
    font-weight: 500;
    line-height: 1px;
    position: relative;
}

.section-title>h2::after {
    content: "";
    width: 120px;
    height: 1px;
    background-color: $accent;
    margin: 4px 10px;
    display: inline-block;
}

.section-title>p {
    color: $accent;
    font-size: 36px;
    font-weight: 600;
}

.boxes-choose{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.boxes-choose > div{
    background-color: #1E1D1B;
    padding: 50px 30px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.boxes-choose > div > span{
    color: $accent;
    font-size: 28px;
    font-weight: 700;
}

.boxes-choose > div > h4{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.boxes-choose > div > p{
    font-size: 15px;
    color: #70706e;
}


@media (max-width : 480px) {
    .boxes-choose{
        flex-direction: column;
    }
}